      /*-----Desktop_Smartphone_tablet-----*/

    @media  (min-width: 480px) {
        .pic {
            width: 25%;
        }
    }
    @media (min-width: 481px) and (max-width: 767px) {
        .pic {
            width: 100%;
        }
    }
    @media (min-width: 768px) and (max-width: 1024px) {
        .pic {
            width: 40%;
        } 
    }